---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Us"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/cover.png"
>
  <p>
    WellassaMora - is a society driven by the undergraduate and graduate
    students who entered the University of Moratuwa from Badulla district.
  </p></Layout
>
